*{
    margin: 0;
    padding: 0;
    font-family: "Tiktok Sans", sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(196, 232, 255, 0.7), rgba(56, 140, 230, 0.8)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative; 
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between; /* Pushes logo to the left and nav links to the right. */
    align-items: center; /*Vertically centers items in the nav bar.*/
}

nav img{
    width: 100px;
}

.nav-links{
    flex: 1; /*Tells .nav-links to take up all remaining space between the logo and the edge.*/
    text-align: right; /*Aligns the menu links to the right side.*/
}

.nav-links ul li{
    list-style: none; /*Removes default bullet points.*/
    display: inline-block; /*Puts list items in a row (not stacked).*/
    padding: 8px 12px;
    position: relative; /*Needed for positioning the ::after hover underline.*/
}

.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

#map{
    height: 500px;
    width: 70%;
    display: block;
    margin: 40px auto 0 auto;
    
}





